body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #000 url(../img/stars-bg.jpg) center center;
}

.fading-place {
    position: relative;

    width: 100%;
    min-height: 60vh;
    top: -25px;
    z-index: 1;
}

.star-wars {
    display: flex;

    height: 800px;
    perspective: 600px;

    font-size: 500%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #EBD71C;

    letter-spacing: 6px;
    line-height: 150%;

    text-align: justify;
}

.moving-text {
    position: relative;


    transform-origin: 50% 100%;

    animation: moving-text 30s linear;
    animation-iteration-count: infinite;
}

.moving-text-title {
    font-size: 90%;
    text-align: center;
}

.moving-text-headline {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes moving-text {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}