body {
    display: flex;

    justify-content: center;

}


.main-content {
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;

    color:  #484848;

}


.pricing-plan-1 {

    width: 1192px;

    border: solid 25px #364664;

    text-align: center;
}


.thead-title, .content-cell, .button-cell {

    padding: 26px 22px;

    box-shadow: inset -5px 0 6px -5px rgba(0, 0, 0, 0.3);

}

.header-cell {

    padding: 12px 0;

    box-shadow: inset -5px 0 6px -5px rgba(0, 0, 0, 0.3);

}

.pp-1-content-row {

    font-size: 16px;

}

.pp-1-content-row:nth-child(even){

    background-color: #e3e3e3;
}

.pp-1-content-row:nth-child(odd){

    background-color: #f2f2f2;
}

.thead-title {

    color:  #fff;
    font-size: 24px;
    font-weight: 700;

}

.thead-choose {
    color:  #484848;
    font-size: 18px;
    font-weight: 700;

    line-height: 28px;

    vertical-align: middle;
}

.header-large {

    font-size: 30px;
    font-weight: 700;

}

.header-cell {

    font-size: 60px;
    font-weight: 900;

}


span.pricing-values {
    display: inline-block;

}

span.pricing-values > .pricing-cents {
    display: table-row;

    font-size: 24px;
    font-weight: 700;

    text-align: left;

    line-height: 36px;

}

span.pricing-values > .pricing-period {
    display: table-row;

    font-size: 18px;
    font-weight: 400;

    text-align: left;

    line-height: 15px;
}


.button {
    display: block;

    margin: 0 auto;

    width: 192px;
    height: 49px;

    text-decoration: none;

    line-height: 57px;

    color:  #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;

    border-radius: 5px;

    border-bottom-width: 8px;
    border-bottom-style: solid;

}

.grey {
    background-color: #484848;

}

.button-grey {
    border-bottom-color: #404040;
}

.button-grey:hover {

    background-color: #404040;
}

.grey-tone {

    background-color: #e3e3e3;
}

.green {

    background-color: #89c331;
}

.button-green {

    border-bottom-color: #79b027;
}


.button-green:hover {

    background-color: #79b027;

}

.red {
    background-color: #f04a56;

}

.button-red {
    border-bottom-color: #df3a46;

}

.no-tone {
    background-color: #fafafa;
}

.button-red:hover {
    background-color:  #df3a46;

}

.button-cyan {
    border-bottom-color: #16736f;

}

.cyan {
    background-color: #20807c;
}

.button-cyan:hover {
    background-color: #16736f;
}


.button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.fas, .far {
    color: #848484;
}
