*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.wrapper {
    width: 1480px;
    margin-left: auto;
    margin-right: auto;

    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.logo-box {
    font-size: 50px;

    padding-top: 61px;
    padding-bottom: 45px;

}

.logo {
    color: #000000;

}

.logo span {
    color: #4bcaff;
}

.menu-box {

    background-color: #35444f;

    height: 69px;
    line-height: 69px;
    white-space: nowrap;

    text-align: center;
}

.menu-box li{
    display: inline-block;

    font-size: 24px;

}

.menu-box a {
    color: #ffffff;

    padding: 20px 41px;

    border: 1px solid transparent;

}

.menu-box a:hover {
    background:#222f3a; /*эффект при наведении*/
    border-left: 1px solid #818181;
    border-right:1px solid #818181;

}

.content {

    background-color: #ffffff;
}

.left-menu {

    display: inline-block;

    margin-top: 51px;

    width: 344px;


    border: 1px solid black;

    vertical-align: top;
}

.left-menu-ul li {

    font-size: 26.99px;
    font-weight: 400;

    text-align: left;
}

.left-menu-ul li a{

    display: block;
    color:  #485863;

    padding: 24px 44px;

}

.left-menu-ul li a:hover {

    background-color: #d9d9d9;
    color: black;
    padding-left: 69px;

}

.right-image {

    display: inline-block;

    width: 885px;
    height: 529px;

    border: solid 1px #35444f;

    margin-left: 40px;
    margin-right: -100%;

    margin-top: 51px;

}

.image {
    width: 320px;
    height: 381px;

    text-align: right;

    background-image: url(../img/ramda.png);
    background-repeat: no-repeat;
    margin: 74px auto;

    overflow:hidden;
    width: 320px;
    height: 381px;
}
.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.image img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.text {
    width: 885px;

    margin-left: 396px;
    margin-top: 50px;
    margin-bottom: 51px;

    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
}

.text p {
    padding-left: 30px;
    padding-right: 40px;

    padding-bottom: 30px;
}
.text:first-child {
  padding-bottom: 30px;

}

.text:last-child {
    padding-bottom: 0;
}

footer {

    height: 69px;

    background-color: #d9d9d9;

    line-height: 69px;

    margin-bottom: 30px;

    font-size: 28px;

}



.menu {

    display: inline-block;

}



.menu-item {

    display: inline-block;

}



.menu-link {

    margin-left: 35px;

    color: #0c1927;

    font-weight: 400;

}



.menu-link:hover {

    color: #3181a6;

    text-decoration: underline;

}



.copyright {

    display: inline-block;

    text-align: right;

    margin-left: 124px;

    font-size: 21px;

    color: #0c1927;

    font-weight: 600;

}

