body {
    background-image: url("../img/background.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Verdana, sans-serif;

    min-width: 660px;

}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/*************HEADER************/

header {

    background: rgba(0, 0, 0, 0.5);

    width: 100%;

    line-height: 56px;

    vertical-align: middle;

}

.logo-journey {

    display: inline-block;

    margin-left: 81px;

    margin-right: 35px;
}

.logo-link {

    text-decoration: none;
    text-transform: uppercase;

    color:  #fff;
    font-size: 20px;
    font-weight: 700;

}

.logo-link:hover {
    color: #3CB878;
}



/*--------------------------------Sprites and Welcome----------------*/

.sprites-box {
    float: right;

    width: 200px;

}

.sprites-item {
    display: inline-block;

    height: 20px;

    background: url('../img/css-sprites.png');
    background-position-y: 0;

    margin-right: 28px;

    vertical-align: middle;
}

.sprites-box-link {
    display: inline-block;
}

.sprites-item:hover {
    background-position-y: 20px;
    transition: 0.1s;
}

.sprites-item.calendar {
    width: 19px;
    background-position-x: 0;
}

.sprites-item.chat {
    width: 28px;
    background-position-x: -19px;
}

.sprites-item.compass {
    width: 20px;
    background-position-x: -47px;

    position: relative;

}

.sprites-item.compass:after {
    content: "";
    height: 20px;

    position: absolute;
    top: 0;
    left: 75px;

    border-right: 1px solid grey;
}

.welcome-box {
    float: right;

    color:  #fff;
    font-size: 16px;

    margin-right: 75px;
    margin-left: 50px;

    width: 250px;
}

.welcome-box-link {
    text-decoration: none;

    color:  #3cb878;
    font-size: 16px;
}

.welcome-box-link:hover {
    border-bottom: 1.5px solid #3CB878;

}


/****************************MAIN     SECTION******************************/
main {
    width: 100%;

    height:calc(100% - 56px);
    height:-moz-calc(100% - 56px);
    height:-webkit-calc(100% - 56px);

    position: fixed;
    top: 56px;
    left: 0;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.form-container {

    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    border-radius: 15px;

    width: 444px;
    height: 584px;

    background-color: white;

}


.content {

    width: 324px;


    position: relative;

    margin: 18px auto 18px;

}

.content-head {
    overflow: auto;

}

.content-signup-title {

    color:  #434343;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;

    padding-top: 5px;

    vertical-align: middle;
}

.content-signup-title:before { /*************Green quadrant***************/
    content: "";
    width: 18px;
    height: 18px;

    border: 1px solid #3cb878;
    background-color: #3cb878;

    position: absolute;
    top: 7px;
    left: -60px;
}

.content-signup-login {
    float: right;
    padding-top: 5px;
}

.signup-login-link {

    text-decoration: none;

    color:  #3cb878;
    font-size: 16px;
    line-height: 21px;
}

.signup-login-link:hover {
    border-bottom: 1.5px solid #3CB878;
}


.signup-buttons {
    overflow: auto;
    padding-top: 15px;

    text-align: center;
}

.fb-btn {
    float: left;

    border-radius: 4px;
    background-color:  #305db8;

    width: 157px;
    height: 46px;

    position: relative;

    text-decoration: none;
    color:  #fff;
    font-size: 16px;
    line-height: 42px;
}



.fb-btn i {
    float: left;

    padding: 15px 0 0 20px;

    color: white;
}


.fb-btn i::after{
    content: "";
    height: 25px;

    position: absolute;
    top: 10px;
    left: 40px;

    border: 1px solid darkblue;
    opacity: 0.2;
}

.fb-btn:hover {
    background-color: #214997;
    transition-duration: 1s;
}
.g-btn {
    float: right;

    border-radius: 4px;
    background-color:  #df4a32;

    width: 157px;
    height: 46px;

    position: relative;

    text-decoration: none;
    color:  #fff;
    font-size: 16px;
    line-height: 42px;
}

.g-btn i {
    float: left;

    padding: 15px 0 0 20px;
    color: white;
}

.g-btn i::after {
    content: "";
    height: 25px;

    position: absolute;
    top: 10px;
    left: 50px;

    border: 1px solid darkred;
    opacity: 0.2;
}

.g-btn:hover {
    background-color: #c3412c;
    transition-duration: 1s;
}

.line-or {

    text-align: center;

    margin-top: 27px;
    margin-bottom: 15px;
}

.line-or-p {
    display: inline-block;
}

.left-hr {
    float: left;

    width: 135px;

    border: 1px solid lightgray;
}

.right-hr {
    float: right;

    width: 135px;
    border: 0.2px solid lightgray;
}

/**************FORM*********************************/

.form {
    text-align: center;
}


input.form-textbox {
    width: 280px;
    height: 46px;
    margin-bottom: 12px;
    padding: 0 20px 0 20px;

    color:  rgba(190, 190, 190, 255);
    font-size: 14px;

    line-height: 21px;

    border: 1px solid #bebebe;
    border-radius: 3px;
}

input.form-textbox:focus {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.21);
    outline:none;
    border: 1px solid white;

    color: #434343;
    transition-duration: 0.5s;

}


input.form-submit {
    width: 322px;
    height: 46px;
    background-color: #3cb878;

    color:  #fff;
    font-size: 16px;

    line-height: 21px;
    border-width: 0;
    border-radius: 3px;

    margin-top: 20px;
}

input.form-submit:focus {
    background-color: #16a085;
    transition-duration: 0.5s;
}

input.form-submit:hover {
    background-color: #2f9b65;
    outline: none;
    border: none;

    cursor: pointer;

    transition: 1s;

}

/**************************CHECK-BOX*********************/


.checkbox-wrapper {
    display: block;

    line-height: 20px;
    white-space: nowrap;

    position: relative;
}

.checkbox-label .check-mark {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

.agree-text {
    cursor: pointer;

    color: #434343;

    text-align: left;
}


.checkbox-link {
    text-decoration: none;

    color:  #3cb878;

}

.checkbox-link:hover {
    text-decoration: underline;
}


.checkbox-label .checkbox-custom {
    position: absolute;
    top: 2px;
    left: 0;

    height: 16px;
    width: 16px;

    background-color: transparent;

    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;

    border: 1px solid #bebebe;
    border-radius: 3px;

    cursor: pointer;
}

.checkbox-label {
    margin-left: -26px;
}

.checkbox-label .check-mark:checked ~ .checkbox-custom {
    background-color: #fff;

    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);

    opacity:1;
    border: 1px solid #bebebe;
    border-radius: 3px;
}

.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;

    height: 0;
    width: 0;

    border: solid #bebebe;
    border-width: 0 3px 3px 0;


    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.checkbox-label .check-mark:checked ~ .checkbox-custom::after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);

    opacity:1;

    left: 5px;
    top: 2px;

    width: 4px;
    height: 8px;

    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    background-color: transparent;

}






