/*General formats*/

.wrapper {
    background: linear-gradient(to top right, rgba(9, 7, 4, 0.82), rgba(38, 18, 18, 0.67)), url("../img/background-Milan.png");
    width: 1366px;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    margin-left: auto;
    margin-right: auto;

    font-family: 'Verdana', "Courier New";
    color: #fff;

    text-decoration: none;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;

}

.container {
    width: 1059px;
    margin-left: auto;
    margin-right: auto;
}

/*Header description*/

.header-logo {
    width: 1059px;
    height: 141px;

}

.logo-box {
    float: left;
    background-image: url('../img/logo-Milan.png');
    background-repeat: no-repeat;

    width: 166px;
    height: 44px;

    margin-top: 49px;
}

.logo-box:hover {
    background-image: url('../img/logo-Milan-hover.png');
}

.logo-link {

    text-decoration: none;
    text-transform: capitalize;
    color: #fff;

}

.logo-text-milan {
    margin-left: 55px;

    font-size: 26px;
    font-weight: 600;
}

.logo-text-holidays {
    margin-left: 55px;

    font-size: 18px;
    font-weight: 400;
}

.logo-link:hover {
    color: #f26522;
}


.header-contacts {

    float: right;

    margin-top: 49px;
    text-align: right;


    font-size: 18px;
    font-weight: 400;

}

.header-email {
    text-decoration: none;

}

.header-email a {

    color: #fff;
}

.header-phone {
    margin-top: 5px;
    margin-bottom: 0;
}
/*Main content*/

.tour-item {

    float: left;

    width: 311px;
    height: 204px;

    box-sizing: border-box;

    margin-left: 63px;
    margin-bottom: 58px;
}

.tour-item:hover .tour-name {
    color: #f26522;
}


.tour-item:nth-child(3n+1) {
    margin-left: 0;
}

.tour-img-box {
    position: relative;
    overflow: hidden;
}

.tour-link {
    text-decoration: none;

    color: #fff;
}

.tour-img {
    display: block;
    border: 3px solid #fff;
    border-image: linear-gradient(to bottom, white 0%, black 100%);
    border-image-slice: 1;
}

.tour-info-box {
    width: 312px;
    height: 62px;

    display: block;
    box-sizing: border-box;

    background-color: #f26522;
    opacity: 0;

    position: absolute;
    bottom: -65px;

}

.tour-name {
    color: #fff;
    font-size: 18px;
    text-align: center;

    margin-top: 22px;

}

.tour-info {
    position: absolute;
    bottom: 0;
}


.tour-price-text {
    float: left;

    font-size: 10px;

    padding-left: 21px;

    margin-top: 16px;

}

.tour-price-value {
    font-size: 20px;
}

.view-details {
    float: right;

    font-size: 14px;

    padding-right: 18px;

    margin-top: 32px;


}

.tour-item:hover .tour-info-box {
    bottom: 0;
    opacity: 1;
    transition-duration: 0.8s;
}


.view-details-text::after {
    content: "\276F"; /*--Heavy right-pointing angle quotation mark ornament*/

    transition-duration: 0.8s;

    margin-left: 15px;
}




/*Footer */

.footer-copyright {

    font-size: 12px;
    line-height: 21px;
    text-align: center;

    margin-top: 100px;
    padding-bottom: 20px;
}



