body {
  font-family: 'Open-Sans', sans-serif;
  color: #fff;
}

.container {

	background-color: #fff;

    margin: 0 auto;
}

.section-header {
    padding: 50px 0;
    
	text-align: center;
	
	text-transform: uppercase;
	
	color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
}


/**************************** HEADER   *****************/
header {
  display: flex;
  background-color: #1d2124;
}

.site-logo-wrapper {
  display: flex; 
  align-items: center;

}

.logo-img-box {
	background-color: #1a1d20;
	
	padding: 20px;

}

.logo-img-link {
   display: block;
   
   width: 27px;
   height: 27px;
	
}

.logo-name-box {
	margin-left: 6px;
}

.site-name-link {
  text-decoration: none;
  color: #fff;
  
  font-size: 22px;
  font-weight: 700;

}

.site-name-link:hover {
	color: orange;
	
}

.site-navbar {
  margin: auto;
 
}

.site-navbar-items {
  list-style: none;
  
  padding: 20px 0;  
}

.navbar-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 600;
}

.navbar-item:hover {

	color: orange;
	font-size: 15.5px;
}

.site-search {
  display: flex;
  align-items: center;

  background-color: #171a1c;
}

.fa-search {

  padding: 25px;
  color: #fff;
  cursor: pointer;
}

.fa-search:hover {
  color: orange;
}	


/***********************************LATEST   NEWS***********************/

.latest-news {
    
  height: 400px;
	
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/2_LatestNews/2-LatestNews-bg.jpeg);

  background-position: right bottom 250px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}

.news-button-box {
	vertical-align: middle;
}

.news-button {
  
    display: inline-block;
    
	width: 170px;
    line-height: 55px;
    
	border-radius: 6px;
	
	text-decoration: none;
	font-size: 18px;
	color: #fff;
    text-align: center;
	
	margin-top: 45px;
    
}


.subscribe-btn {
  
  background-color: #89ca62;

  margin-right: 20px;
  
}

.subscribe-btn:hover {
  background-color: #30a110;
  font-size: 19px;
}

.articles-btn {
 
  background-color: #14b9d5;
  
}

.articles-btn:hover {

  background-color: #0b44c0;
  font-size: 19px;
}

.latest-news-text {
	padding-top: 100px;
	
	text-align: center;
    
	font-size: 27px;
	text-transform: uppercase;
	   
}
/********************MOST POPULAR POST**************************************/

.most-popular-posts {

    background-color: #f2f2f2;

}

.posts-wrapper {
    max-width: 1170px;
    margin: 0 auto;

    
	display: flex;
    height: 875px;	
	
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;
	
	 align-content: space-around;
	 
	 background-color: #f2f2f2;
	
}
.mpp-header {
    background-color: #f2f2f2;
}

.posts-link {
    margin-bottom: 30px;
	text-decoration: none;
}

.posts-link:hover {

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.most-popular-posts-img {
	display: block;
}

.posts-title {
    background-color: #fff;
    line-height: 60px;
		
	color: #353a3d;
	font-size: 18px;
    font-weight: 700;
   
}

/**************** our most popular clients ******************************/
.most-popular-clients {
  
    display: grid;

    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/4_Most_PC/homework6_img_parallax-bg.jpeg);
    background-position: center;

    text-align: center;
    background-attachment: fixed;
}

.clients-header {
  padding: 150px 0 30px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.clients-header:after {
    display: block;
    content: '';
    border-top: 3px solid #169cb4;
    width: 60px;
    margin: 55px auto;
}

.clients-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-column-gap: 10px;
  padding-bottom: 210px;

  align-items: center;

}

.client-logo:hover {
    transform: scale(1.2);

}




/***************** TOP RATED *************************************/

.top-rated-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	
}

.top-rated-img {
	width: 100%;
}


/*************** HOT NEWS ************************************/

.hot-news {
    margin: 0 auto 100px;

    max-width: 1170px;
}


.hot-news-wrapper {
  display: grid;

  grid-template-areas: 
    "a a a b"
    "c c d d"
    "e e f f"
    "g h h h";

    grid-gap: 20px;
}


.hot-news-link {

  text-decoration: none;
}

.hot-news-link:hover {
  display: block;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.hot-news-article {
  padding: 20px 20px;  
  text-align: right;
} 

.hot-news-title {
 
  color: #353a3d;
  font-size: 18px;
  font-weight: 700;

  line-height: 50px;
  text-align: right

}

.hot-news-text {
  color: #5b6469;
  font-size: 14px;
  
  
  text-align: right;	
}

.hot-news-text-1 {
  
  padding: 20px 0 0 0;
  margin-left: 500px; 
  
  line-height: 21px;
}

.hot-news-block-1 {
  grid-area: a;
  background-color: #f9f7f7;
}


.hot-news-block-2 {
  grid-area: b;
  background-color: #f9f7f7;
  
  justify-self: end;
}

.hot-news-title-2 {
  text-align: center;

}

.hot-news-block-3 {
  grid-area: c;
  width: 554px;
  background-color: #f9f7f7;
}


.hot-news-text-3 {
  text-align: right;
  padding: 20px 0 0 0;
}

.hot-news-block-4 {
  grid-area: d;
  justify-self: end;
  width: 554px;
  background-color: #f9f7f7;
}

.hot-news-text-4 {
  text-align: right;
  padding: 20px 0 0 0;
}


.hot-news-block-5 {
  grid-area: e;
  width: 554px;
  background-color: #f9f7f7;
}

.hot-news-text-5 {
  text-align: right;
  padding: 20px 0 0 0;
}

.hot-news-block-6 {
  grid-area: f;
  justify-self: end;
  width: 554px;
  background-color: #f9f7f7;
}

.hot-news-text-6 {
  text-align: right;
  padding: 20px 0 0 0;
}

.hot-news-block-7 {
  grid-area: g;
  background-color: #f9f7f7;
  
  justify-self: start;
}


.hot-news-block-8 {
  grid-area: h;
  background-color: #f9f7f7;
}

.hot-news-text-8 {
  padding: 20px 0 0 0;
  margin-left: 500px; 
  text-align: right;
  
  line-height: 21px;
}

/************************** FOOTER *******************/

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;

  background-color: #1d2124;
  padding: 30px 0;
}

.footer-copyright {
  grid-column: 2 / 2;
  color: #fff;
  font-size: 13px;
  line-height: 21px;

  cursor: pointer;
}

.footer-logo {
  grid-column: 3 / 3;
  justify-self: end;
  
  color: white;
  font-size: 22px;  
  font-weight: 700;
  vertical-align: top;

  cursor: pointer;
}
