@font-face {
    font-family: 'arimoregular';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular');

    src: url('../fonts/arimo-regular-webfont.eot'),   /******https://www.fontsquirrel.com/tools/webfont-generator***/
    url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arimo-regular-webfont.svg#arimoregular') format('svg'),
    url('../fonts/arimo-regular-webfont.ttf') format('truetype'),
    url('../fonts/arimo-regular-webfont.woff') format('woff'),
    url('../fonts/arimo-regular-webfont.woff2') format('woff2');
}

body {
    display: flex;

    justify-content: center;

}

.main-content {
    text-transform: uppercase;
    font-family: 'arimoregular', sans-serif;

    color:  #484848;
	
}

.pricing-plan-2 {

    width: 1192px;

    border: solid 25px #364664;

    text-align: center;
	
}

.thead-title:nth-child(odd)  {
    background: #f2f2f2;
}
.thead-title:nth-child(even)  {
    background: #e3e3e3;
}

.content-cell:nth-child(odd) {
	background: #f2f2f2;
	
}

.content-cell:nth-child(even) {
	background: #e3e3e3;
	
}


.content-cell {

    width: 157px;
    height: 166px;

    font-size: 16px;
	text-align: center;

    box-shadow: inset 0 -4px 6px -4px rgba(0, 0, 0, 0.3);
	
	vertical-align: middle;
}

.thead-title {
	width: 157px;
	height: 113px;
	

    font-size: 20px;
    font-weight: 700;
	
	box-shadow: inset 0 -4px 6px -4px rgba(0, 0, 0, 0.3);
	
	vertical-align: middle;
	
}

.thead-choose {
    width: 198px;
    height: 113px;

	color:  #484848;
    font-size: 14px;
    font-weight: 700;

    line-height: 24px;

    vertical-align: middle;
}

.row-header-box {
	width: 198px;
	height: 167px;
	
	color: #fff;
	
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	
	vertical-align: middle;
}

.header-large {

    font-size: 20px;
    font-weight: 700;

}

.plan-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}


.price-box {
    
	margin: 2px 0 0 0;
	
	color: #fff;
}


.price-main {
   	
	display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;

}

.price-cents {
    display: inline-block;
	
	font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    
    vertical-align: 12px;
}
.per-month {
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
}


.no-tone {
    background-color: #fafafa;
}


.green {

    background-color: #89c331;
}

.red {
    background-color: #f04a56;

}

.cyan {
    background-color: #20807c;
}

.button-grey {
    display: block;

    margin: 17px auto 0;
	

    width: 144px;
	height: 36px;
	
    
    text-decoration: none;

    line-height: 41px;

    color:  #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;

    border-bottom: 5px solid #343434;

	background-color: #414141;

}

.fas, .far {
    color:  #848484;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}

.button-grey:hover{

    background-color: #343434;
    border-top-color: #414141;

    transform: translateY(5px);
}

